<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<body>
    <p>{{date | date: 'dd/MM/YYYY'}}</p>

    <img [src]="monsterData.image" class="img-thumbnail">
    <p>
        <strong [innerHTML]="monsterData.name"></strong><br>
        <em [innerHTML]="monsterData.detail"></em>
    </p>
    <ng-container *ngIf="monsterData.spells != undefined">
        <span *ngFor="let spel of monsterData.spells" class="badge text-white bg-primary">{{spel.name}}</span>

    </ng-container>
    <div class="text-center">
        <button (click)="updateMonster2()" class="btn btn-info">Update</button>
        <button class="btn btn-danger" (click)="removeMonster2()">Remove</button>
    </div>

</body>

</html>