<div class="row">

    <div class="col-9">
        <input type="text" class="form-control" [(ngModel)]="filterObject.keyword" (keyup)="search()" placeholder="Tìm kiếm...">
    </div>

</div>
<br><a href="javascript:;" class="btn btn-success" routerLink="/admin/sach/new">Thêm Sách</a>


<br>
<table class="table table-striped">
    <thead>
        <th>#</th>
        <th>Tên sách</th>
        <th>Ảnh</th>
        <th>Giá tiền</th>
        <th>Danh mục</th>
        <th>Tác Giả</th>
    </thead>
    <tbody>
        <tr *ngFor="let b of books; index as i">
            <td>{{i+1}}</td>
            <td>{{b.title | titlecase}}</td>
            <td><img src="{{b.image}}" alt="" width="100"></td>
            <td>{{b.price | currency: 'VND'}}</td>
            <td>{{b.category.name}}</td>
            <td>{{b.author.name}}</td>
            <td>
                <a href="javascript:;" class="btn btn-info" routerLink="/admin/sach/edit/{{b.id}}">Sửa</a>
                <a href="javascript:;" class="btn btn-danger" (click)="removeId(b)">Xóa</a>
            </td>
        </tr>
    </tbody>
</table>